<div class="row m-2">
    <div class="col-md-9 mt-2">
        <a routerLink="/productForm" *ngIf="isThisAdmin" class="p-15">Добавяне на продукт</a>
    </div>
    <div class="form-group col-md-3">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="data">
    </div>
</div>
<div class="row m-2">
    <div class="col-md-3" *ngFor="let product of (product | filter:data) | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      };
let i = index">
        <app-product [product]="product" (productSelected)="onProductSelected($event)"
            (productDeleted)="productDeleted.emit($event)">
        </app-product>
    </div>
</div>

<div class="col-md-12 text-center m-3">
    <pagination-controls
      previousLabel="Назад"
      nextLabel="Напред"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>