<h1 class="text-center p-2" style="color:#7C3A6A;">Вход</h1>

<div class="row justify-content-center m-10 p-10">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <p *ngIf="errorMessage" class="text-danger text-center">{{errorMessage}}</p>
            </div>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Имейл</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    placeholder="Въведи имейл" />

                <small *ngIf="formGroup.get('email').touched &&
                       formGroup.get('email').invalid &&
                       formGroup.get('email').errors.required" class="text-danger">
                    Това поле е задължително!
                </small>
            </div>
            <div class="form-group">
                <label for="password">Парола</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                    placeholder="Въведи парола" />

                <small *ngIf="formGroup.get('password').touched &&
                       formGroup.get('password').invalid &&
                       formGroup.get('password').errors.required" class="text-danger">
                    Това поле е задължително!
                </small>
            </div>

            <div class="ml-2 row">
                <span class="text-left mr-2">
                    <a routerLink="/forgottenPass">Забравена парола?</a>
                </span>
                <span class="text-right ml-2">
                    <a routerLink="/signUp">Регистрация</a>
                </span>

            </div>
            <div class="form-froup text-right m-2">
                <button type="submit" class="btn" style="background-color: #C4C4C4; color:black">Вход</button>
            </div>
        </form>
    </div>
</div>