
<ng-container *ngIf="products.length != 0">
    <div class="container">
        <div class="table-responsive-sm table-responsive-sm table-responsive-lg">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Номер:</th>
                            <th>Продукт</th>
                            <th>Снимка на продукта</th>
                            <th>Описание</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Опции</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{product.title}}</td>
                            <td><img style="width: 120px;" src="{{product.picture}}" alt="product picture"></td>
                            <td style="width: 25%;">{{product.description}}</td>
                            <td style="width: 12%;">1 бр.</td>
                            <th style="width: 12%;">{{product.price}}лв.</th>
        
                            <td>
                                <fa-icon [icon]="faTrash" (click)="removeItem(product)" class="btn btn-danger"></fa-icon>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Изпразни количката</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Добави още продукти</button></td>
                            <td><button class="btn btn-success" routerLink="/shippingForm">Продължи покупката</button></td>
                            <td><strong >Всичко общо: {{ totalPrice }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</ng-container>


<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">Моята кошница</h5>
        </div>
        <div class="center">
            <img src="../../assets/shoppingCart.png" alt="shopping cart picture">
            <h4>Твоята кошница е празна!</h4>
            <h6>Добави продукт сега</h6>
            <button routerLink="/products" class="btn btn-primary">Пазарувай</button>
        </div>
    </div>
</ng-container>