<div class="row">
    <div class="col-4" *ngFor="let categ of categories">
        <div class="card-deck">
            <div class="card">
                <h5 class="card-title text-center">{{categ.categoryName}}</h5>
                <div class="card-body">
                    <img class="card-img-top" alt="picture" [src]="categ.categoryPicture"
                        routerLink="/category/{{categ.id}}" (categorySelected)="onCategorySelect($event)" style="width: 450px; height: 250px;">
                </div>
            </div>
        </div>
    </div>
</div>